fastapi
uvicorn
python-jose
pydantic
requests
langchain-openai
langchain-core
langchain-anthropic
langchain-mistralai==0.0.5
langchain-google-genai
langchain-community
firebase-admin
google-cloud-firestore
razorpay
tiktoken
anthropic
google-cloud-aiplatform[tokenization]
python-dotenv
